.container {
  margin-top: 70px;
}
.food-menu-label {
  float: left;
  white-space: nowrap;
  overflow: hidden;
}
.food-menu-label:after {
  content: " ................................................................................................................................................................................................................................................................................................................................................................................................";
}
